.main{
    min-height: 80vmin;
  }
  .bosluk{
    margin-left: 10em;
  }
  .policy{
    margin-left: 4em;
  }
  .hrms{
    margin-top: 2em;
  }
  .login{
    margin-top: 2em;
    margin-right: 2em;
  }
  .sag{
    margin-left: 5em;
  }
  